<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="w-full h-screen bg-zinc-900 p-10">
            <h3 class="text-white text-3xl mb-6">Upload Profile Picture</h3>
            <form autocomplete="off" method="post" action="/upload" enctype="multipart/form-data">
                <input type="file" class="text-white" name="image">
                <input class="px-3 py-2 rounded bg-blue-500" type="submit" value="Upload file ">
            </form>
        </div>
    </body>
</html>
